@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
    --white: #FFFFFF;
    --gray: #707070;
    --black: #1A1A1A;
  --gold: #FFD700;
  --green: springgreen;
}
body {
    font-family: 'Space Grotesk', sans-serif;
  cursor: pointer;
  background-color: var(--black);
}
.content {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 40px 0;
}
.name,
.title,
.paragraph {
    color: var(--white);
}
.name {
    font-size: 24px;
    margin-bottom: 6px;
}
.profession {
    color: var(--gray);
    margin-left: 16px;
    transition: all 500ms ease;
}
.profession:hover {
    color: var(--green);
}
.profile-and-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: 60px;
}
.title span,
.paragraph span {
    color: var(--green);
}
.image {
    width: 340px;
    height: 400px;
    border-radius: 40px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 1px var(--green);
}
.image img {
    width: 100%;
    height: 120%;
    object-fit: cover;
}
.paragraph {
    font-size: 20px;
    max-width: 400px;
}


.footer-box {
    width: 290px;
    display: flex;
    align-items: center;
}
#button-plus {display: none;}
.ph-plus-thin {
    width: 80px;
    height: 80px;
    background-color: var(--white);
    color: var(--black);
    font-size: 40px;
    z-index: 1;
}
.social-media {
    display: flex;
    margin-left: 10px;
}
.icons {
    width: 54px;
    height: 54px;
    background-color: var(--white);
    color: var(--black);
    font-size: 30px;
    margin-left: -20px;
    opacity: 0;
    visibility: hidden;
}
.icons:hover {
    background-color: var(--white);
}
.ph-github-logo:hover {
    color: #0A1860;
    z-index: 3;
}
.ph-dribbble-logo:hover {
    color: #EA4C89;
    z-index: 2;
}
.ph-linkedin-logo:hover {
    color: #0274B3;
    z-index: 1;
}
.ph-plus-thin,
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 500ms ease;
}
#button-plus:checked ~ .social-media .icons {
    margin-left: 10px;
    opacity: 1;
    visibility: visible;
}
#button-plus:checked ~ .ph-plus-thin {
    transform: rotate(135deg);
}


/* ----- Responsive ----- */
@media (max-width: 1200px) {
    .title {
        max-width: 400px;
    }
}
@media (max-width: 900px) {
    .profile-and-photo {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 280px;
    }
    .image {
        width: 160px;
        height: 210px;
        border-radius: 30px;

        position: absolute;
        top: 150px;
    }
    .title {
        max-width: 600px;
        font-size: 50px;
        margin-bottom: 20px;
    }
    .paragraph {
        max-width: 600px;
        margin-bottom: 60px;
    }
}
@media (max-width: 660px) {
    .title {
        max-width: 100%;
        font-size: 40px;
    }
    .paragraph {
        max-width: 400px;
    }
}
@media (max-width: 530px) {
    .title {
        max-width: 100%;
        font-size: 30px;
    }
    .paragraph {
        font-size: 18px;
    }
}
@media (max-width: 400px) {
    .title {
        font-size: 26px;
    }
    .paragraph {
        font-size: 16px;
    }
}
@media (max-width: 340px) {
    .title {
        max-width: 200px;
    }
}