/* fonts */
@font-face {
    font-family: 'SpaceGrotesk';
    src: url(../assets/fonts/SpaceGrotesk-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url(../assets/fonts/SpaceGrotesk-Medium.ttf);
    font-weight: 500;
}
:root {
    --light-: #F0F0F0;
    --black-: #0F0F0F;
    --green-: #006E46;
    --green-dark-: #002213;
    --grad-40-: rgba(240, 240, 240, 0.4);
    --grad-5-: rgba(240, 240, 240, 0.05);

    --font-family: 'SpaceGrotesk';
    --font-weight-regular-: 400;
    --font-weight-medium-: 500;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style-type: none;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background: radial-gradient(ellipse at bottom, var(--green-dark-) 0%, var(--black-) 100%);
}
body {
    height: 100vh;
    font-family: var(--font-family);
    /* background-image: url(/assets/noise.svg); */
}
#particles-js {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
main {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container {
    max-width: 48rem;
    height: auto;
    border: 2px solid rgba(240, 240, 240, 0.1);
    border-radius: 1.6rem;
    padding: 3.2rem;
    background-color:rgba(15, 15, 15, 0.1);
    backdrop-filter: blur(1px);
    cursor: pointer;
}
.card-photo {
    display: block;
    width: 12rem;
    height: 12rem;
    border: 4px solid rgba(240, 240, 240, 0.1);
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 16px;
}
.card-photo img {
    width: 100%;
}
.card-name {
    color: #f0f0f0;
    font-size: 3rem;
    font-weight: var(--font-weight-medium-);
    margin-bottom: 8px;
    text-align: center;
}
.card-paragraph {
    max-width: 420px;
    color: #f0f0f0;
    font-size: 1.8rem;
    font-weight: var(--font-weight-regular-);
    margin-bottom: 40px;
    text-align: center;
}
.card-paragraph span {
    color: #006E46;
}
.card-link {
    display: flex;
    max-width: max-content;
    border: 1px solid rgba(240, 240, 240, 0.1);
    border-radius: 3.2rem;
    padding: 1.6rem;
    margin: auto;
}
.card-link a i {
    font-size: 3rem;
    color: #f0f0f0;
    border: 1px solid transparent;
    padding: 8px;
    border-radius: 50%;
}
.card-link a i:hover {
    background-color: rgba(240, 240, 240, 0.05);
}
.card-link a:nth-child(1) i:hover {
    color: springgreen;
}
.card-link a:nth-child(2) i:hover {
    color: #0e76a8;
}
.card-link a:nth-child(3) i:hover {
    color: #000000;
}
.card-link a:nth-child(4) i:hover {
    color: #ea4c89;
}



.pre-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: var(--font-weight-medium-);
    color: var(--black-);
}
img {
    width: 100px;
}