---
import ProjectCard from "../UI/ProjectCard.astro"
import { Image } from "astro:assets"
import Photo from '@/assets/images/photo.png'
---

<main class="w-full max-w-[500px]" data-aos="fade-right" data-aos-duration="1000">
    <header class="grid gap-12 mb-12">
        <section class="flex gap-4 items-center">
            <Image class="w-10 h-10 rounded object-cover" src={Photo} alt=""></Image>
            <div>
                <p class="font-fontBS text-base font-bold">devestevenson</p>
                <p class="font-fontBS text-base">diseñador ux/ui junior</p>
            </div>
        </section>
        <p class="font-fontBS max-w-[492px] text-base">
            Disfruto diseñar productos y servicios digitales como aplicaciones web
            y móviles, sitios web, tiendas virtuales, entre otros, con el objetivo
            de mejorar la experiencia del usuario.
        </p>
    </header>

    <section class="grid gap-4 mb-12">
        <h2 class="text-base font-bold">Habilidades adquiridas</h2>
        <p class="max-w-[500px] text-base font-fontBS">
            Durante mi formación, he adquirido habilidades que me permiten
            diseñar y desarrollar proyectos que generan experiencias positivas.
        </p>
         <ul class="grid gap-2">
             <li class="text-base font-fontBS">• Figma</li>
             <li class="text-base font-fontBS">• Adobe XD</li>
             <li class="text-base font-fontBS">• Photoshop</li>
             <li class="text-base font-fontBS">• HTML</li>
             <li class="text-base font-fontBS">• CSS</li>
             <li class="text-base font-fontBS">• JavaScript</li>
             <li class="text-base font-fontBS">• React</li>
             <li class="text-base font-fontBS">• TailwindCSS</li>
         </ul>
    </section>

    <section class="grid gap-4 mb-12">
        <h2 class="font-bold text-base font-fontBS">Trabajos realizados</h2>
        <p class="max-w-[487px] text-base font-fontBS">
            Te invito a echar un vistazo a mi portafolio para descubrir cómo
            he combinado mis habilidades en diseño y desarrollo para crear
            sitios web funcionales que cumplen con los objetivos de la marca.
        </p>
        <ProjectCard
            href="https://devestevenson.github.io/"
            text="Web personal"
        />
        <ProjectCard
            href="https://kerninkestudio.com/"
            text="Kernink Estudio"
        />
        <ProjectCard
            href="https://www.codigoc13.com/"
            text="Escuela Código C13"
        />
    </section>

    <section class="grid gap-4 mb-12">
        <h2 class="font-bold text-base font-fontBS">Envíame un mensaje</h2>
        <p class="max-w-[478px] text-base font-fontBS">
            Estoy dando mis primeros pasos, espero participar en proyectos
            donde pueda aplicar mis conocimientos y experiencias para
            contribuir al éxito de cada producto.
        </p>
    </section>

    <footer class="grid gap-6">
        <ul class="flex flex-col gap-2">
            <a href="https://wa.me/3022444817" target="_blank">(+57) 302 244 4817</a>
            <a href="mailto:devestevenson@gmail.com" target="_blank">devestevenson@gmail.com</a>
        </ul>
        <ul class="flex flex-col gap-2">
            <a href="https://www.linkedin.com/in/devestevenson/" target="_blank">Linkedin</a>
            <a href="https://www.behance.net/devestevenson" target="_blank">Behance</a>
            <a href="https://github.com/devestevenson" target="_blank">Github</a>
            <a href="https://www.youtube.com/channel/UClkulC67mwNxUY8f9jkerFQ" target="_blank">Youtube</a>
        </ul>
    </footer>
</main>

<style>
    a {
        position: relative;
        transition: 300ms ease;
        width: fit-content;
    }
    a::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 1px;
        background-color: black;
        transition: 300ms ease;
    }
    a:hover::before {
        width: 100%;
    }
</style>