---
import Layout from '../layouts/Layout.astro';
import Perfile from '@/components/sections/Perfile.astro';
---

<Layout title="devestevenson — diseñador web">
	<main class="w-full h-auto flex justify-center px-4 py-6 tablaptop:py-20">
		<Perfile/>
	</main>
</Layout>

<style>
</style>
